@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

.hero-section {
    background-image: url('../public/images/bg/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
}